@page "/"
@inherits LayoutComponentBase

<!-- layout -->
<div class="grid-app">
    <TextEdit Class="grid-query" Placeholder="Enter utterance..." Text="@Text" TextChanged="@OnTextChanged" DelayTextOnKeyPress="true" />

    <Text Class="grid-yamlheading">
        <Link Target="Target.Blank" To="https://github.com/tomlm/iciclecreek.bot/blob/master/source/Libraries/Lucy.net/readme.md" Class="grid-overview">Overview</Link>
        <Link Target="Target.Blank" To="https://github.com/tomlm/iciclecreek.bot/blob/master/source/Libraries/Lucy.net/help.md" Class="grid-help">Help</Link>
        <Text Class="grid-samplesLabel">Samples:</Text>
        <Select Clsas="grid-samplesCombo" TValue="string" SelectedValue="@selectedExample" SelectedValueChanged="@OnSelectedExampleChanged">
            <SelectItem Value="@("simple")">Simple</SelectItem>
            <SelectItem Value="@("cars")">Cars</SelectItem>
            <SelectItem Value="@("drinks")">Drinks</SelectItem>
            <SelectItem Value="@("email")">Email</SelectItem>
            <SelectItem Value="@("pizza")">Pizza</SelectItem>
        </Select>
    </Text>

    <MonacoEditorYaml @ref="yamlEditor" Id="monacoEditorYaml" Value="@Yaml" CssClass="grid-yaml" />

    <Alert Class="grid-alert" @ref="alertBox" Color="Color.Warning">
        <AlertDescription>
            @Error
        </AlertDescription>
    </Alert>

    <Text Class="grid-resultheading">Entities</Text>

    <Accordion Class="grid-results">
        <Collapse Visible="@TopResultVisible">
            <CollapseHeader>
                <Heading Size="HeadingSize.Is6">
                    <Button Clicked="@(()=> TopResultVisible= !TopResultVisible)">Top Result</Button>
                </Heading>
            </CollapseHeader>
            <CollapseBody>
                <text>@Elapsed</text>
                <plaintext>@TopResult</plaintext>
            </CollapseBody>
        </Collapse>
        <Collapse Visible="@AllResultsVisible">
            <CollapseHeader>
                <Heading Size="HeadingSize.Is6">
                    <Button Clicked="@(()=>AllResultsVisible= !AllResultsVisible)">All Results</Button>
                </Heading>
            </CollapseHeader>
            <CollapseBody>
                <plaintext>@EntityResults</plaintext>
            </CollapseBody>
        </Collapse>
    </Accordion>
</div>


